@import "tailwindcss";

@theme {
  --color-category: #d6b8b2;
  --color-product: #270f0a;
  --color-addToCart: #d6b8b2;
  --color-hover: #d43a0d;

  --font-family-red-hat-text: "Red Hat Text", san-serif;
}

@layer utilities {
  .custom-scrollbar-v4 {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    
    &::-webkit-scrollbar {
      @apply w-2;
    }
    
    &::-webkit-scrollbar-track {
      @apply bg-gray-100 rounded;
    }
    
    &::-webkit-scrollbar-thumb {
      @apply bg-gray-400 rounded hover:bg-gray-500;
    }
  }
}
