@import "tailwindcss";

@theme {
  --color-category: #d6b8b2;
  --color-product: #270f0a;
  --color-addToCart: #d6b8b2;
  --color-hover: #d43a0d;

  --font-family-red-hat-text: "Red Hat Text", san-serif;
}

@layer utilities {
  .custom-scrollbar-v4 {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;

    &::-webkit-scrollbar {
      @apply w-2;
    }

    &::-webkit-scrollbar-track {
      @apply bg-gray-100 rounded;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-gray-400 rounded hover:bg-gray-500;
    }
  }
  .hover-filter-green:hover img {
    filter: brightness(0) saturate(100%) invert(42%) sepia(74%) saturate(482%)
      hue-rotate(81deg) brightness(95%) contrast(91%);
    transition: filter 0.3s ease;
  }

  .hover-filter-red:hover img {
    filter: brightness(0) saturate(100%) invert(27%) sepia(83%) saturate(7493%)
      hue-rotate(358deg) brightness(95%) contrast(101%);
  }

  .hover-filter-brown:hover img {
    filter: brightness(0) saturate(100%) invert(38%) sepia(44%) saturate(7493%)
      hue-rotate(6deg) brightness(95%) contrast(101%);
  }

  .hover-filter-white:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
      hue-rotate(0deg) brightness(100%) contrast(100%);
    transition: filter 0.3s ease;
  }
}
